body {
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: Tahoma;
    font-size: 16px;
    background-image: url('images/taustakuva.jpg');
    background-size: cover;
}

form {
    width: 60vw;
    max-width: 800px;
    background-color: gray;
    margin: 5em auto;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    border-color: black;
    border-radius: 5%;
}

input, select {
    display: block;
    margin: 0.5em auto;
    width: 45%
}

label {
    display: block;
    text-align: center;
    margin-bottom: 0.5em;
    margin-bottom: 1em;
}

h1, p {
    text-align: center;
    margin-top: 1em;
}

br {
    background-color: black;
}

select {
    min-height: 1.5em;
    font-size: 14px;
}

input[type="submit"] {
    margin-bottom: 4em;
    height: 2em;
}