body {
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: Tahoma;
    font-size: 16px;
    background-image: url('images/taustakuva.jpg');
    background-size: cover;
}

form {
    width: 60vw;
    max-width: 800px;
    background-color: #e8d4c8;
    margin: 5em auto;
    border-radius: 5%;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    border-width: 4px;
    border-color: black;
}

label {
    display: block;
    text-align: center;
    margin-bottom: 0.5em;
    margin-bottom: 1em;
}

input, select, textarea {
    display: block;
    margin: 0.5em auto;
    width: 45%;
    background-color: #ede4df;
    font-size: 16px;
}

h1, p {
    text-align: center;
    margin-top: 1em;
}

select {
    min-height: 1.1rem;
    font-size: 16px;
    width: 46%;
    border-color: black;
    border-width: 2px;
}

input[type="date"] {
    width: 45.5%;
}

textarea {
    font-family: Tahoma;
    border-color: black;
    border-width: 2px;
}

input[type="submit"] {
    width: 46%;
    margin-bottom: 4em;
    height: 2em;
}